{% if flash.message %}
	<div class="alert alert-success alert-dismissible">
		<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
		{{flash.message}}
	</div>
{% endif %}
{% if flash.error %}
	<div class="alert alert-danger alert-dismissible">
		<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
		{{flash.error}}
	</div>
{% endif %}
