<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>DigiSilat Dashboard</title>
		<!-- Tell the browser to be responsive to screen width -->
		<meta
		content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
		<!-- Bootstrap 3.3.7 -->
		<link
		rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
		<!-- Font Awesome -->
		<link
		rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css">
		<!-- Ionicons -->
		<link
		rel="stylesheet" href="/bower_components/Ionicons/css/ionicons.min.css">
		<!-- DataTables -->
		<link rel="stylesheet" href="/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">
		<link
		rel="stylesheet" href="/bower_components/select2/dist/css/select2.min.css">
		<!-- Theme style -->
		<link rel="stylesheet" href="/dist/css/AdminLTE.min.css">
		<link
		rel="stylesheet" href="/dist/css/skins/skin-black.min.css">
		<!-- Date Picker -->
		<link
		rel="stylesheet" href="/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">
		<!-- Daterange picker -->
		<link
		rel="stylesheet" href="/bower_components/bootstrap-daterangepicker/daterangepicker.css">

		<!-- bootstrap wysihtml5 - text editor -->
		<link rel="stylesheet" href="/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css">
		<link rel="stylesheet" href="/dist/uulgie.css">
	</head>

	<body class="hold-transition skin-black sidebar-mini">
		<div class="wrapper">
			<header
				class="main-header">
				<!-- Logo -->
				<a
					href="/index2.html" class="logo">
					<!-- mini logo for sidebar mini 50x50 pixels -->
					<span class="logo-mini">
						<b>D</b>S</span>
					<!-- logo for regular state and mobile devices -->
					<span class="logo-lg">DigiSilat</span>
				</a>
				<!-- Header Navbar: style can be found in header.less -->
				<nav
					class="navbar navbar-static-top">
					<!-- Sidebar toggle button-->
					<a href="/#" class="sidebar-toggle" data-toggle="push-menu" role="button">
						<span class="sr-only">Toggle navigation</span>
					</a>

					<div class="navbar-custom-menu">
						<ul
							class="nav navbar-nav">
							<!-- User Account: style can be found in dropdown.less -->
							<li class="dropdown user user-menu">
								<a href="/#" class="dropdown-toggle" data-toggle="dropdown">
									<span class="hidden-xs">Username</span>
								</a>
								<ul
									class="dropdown-menu">
									<!-- User image -->
									<li class="user-header">

										<p>
											Username
										</p>
									</li>

									<li class="user-footer">
										<div class="pull-left">
											<a href="/#" class="btn btn-default btn-flat">Profile</a>
										</div>
										<div class="pull-right">
											<a href="/#" class="btn btn-default btn-flat">Sign out</a>
										</div>
									</li>
								</ul>
							</li>
						</ul>
					</div>
				</nav>
			</header>
			<!-- Left side column. contains the logo and sidebar -->
			<aside
				class="main-sidebar">

				<!-- sidebar: style can be found in sidebar.less -->
				<section
					class="sidebar">
					<!-- Sidebar user panel -->
					{% if turnamenAktif %}
						<div class="text-center" style="color: white;">
							<h6>Turnamen Aktif</h6>
							<h5>
								{{turnamenAktif}}
							</h5>
						</div>
					{% endif %}
					<!-- Sidebar Menu -->
					<ul class="sidebar-menu" data-widget="tree">
						<li class="{{ 'turnamen' in url ? 'active' : ''}}">
							<a href="/turnamen">
								<i class="fa fa-clone"></i>
								<span>Turnamen</span>
							</a>
						</li>
						<li class="header">Manajemen Data</li>
						<!-- Optionally, you can add icons to the links -->
						<li class="{{ 'kategori' in url ? 'active' : ''}}">
							<a href="/kategori">
								<i class="fa fa-list-alt"></i>
								<span>Kategori</span>
							</a>
						</li>
						<li class="{{ 'peserta' in url ? 'active' : ''}}">
							<a href="/peserta">
								<i class="fa fa-users"></i>
								<span>Peserta</span>
							</a>
						</li>
					</ul>
					<!-- /.sidebar-menu -->
				</section>
				<!-- /.sidebar -->
			</aside>

			<!-- Content Wrapper. Contains page content -->
			<div class="content-wrapper">
				{% block body %}

					{% block content %}{% endblock %}
				{% endblock %}
			</div>
			<!-- /.content-wrapper -->

			<footer class="main-footer">
				<strong>2020 IPSI SULSEL</strong>
			</footer>
		</div>
		<!-- ./wrapper -->

		<!-- jQuery 3 -->
		<script src="/bower_components/jquery/dist/jquery.min.js"></script>
		<!-- jQuery UI 1.11.4 -->
		<script src="/bower_components/jquery-ui/jquery-ui.min.js"></script>
		<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
		<script>
			$.widget.bridge('uibutton', $.ui.button);
		</script>
		<!-- Bootstrap 3.3.7 -->
		<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
		<!-- daterangepicker -->
		<script src="/bower_components/moment/min/moment.min.js"></script>
		<script src="/bower_components/bootstrap-daterangepicker/daterangepicker.js"></script>
		<!-- datepicker -->
		<script src="/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
		<script src="/bower_components/select2/dist/js/select2.min.js"></script>
		<!-- Bootstrap WYSIHTML5 -->
		<script src="/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>
		<!-- DataTables -->
		<script src="/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
		<script src="/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
		<!-- Slimscroll -->
		<script src="/bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
		<!-- FastClick -->
		<script src="/bower_components/fastclick/lib/fastclick.js"></script>
		<!-- AdminLTE App -->
		<script src="/dist/js/adminlte.min.js"></script>
		<script src="/dist/bootbox.min.js"></script>
		<!-- App -->
		<script src="/javascripts/dashboard.js"></script>
	</body>

</html>
