{% extends 'layout.twig' %}
{% block content %}
	<!-- Main content -->
	<section class="content container-fluid">
		<div class="box box-primary">
			<div class="box-header with-border">
				<h3 class="box-title">Tambah
					{{label}}</h3>
			</div>
			<!-- /.box-header -->
			<!-- form start -->
			<form role="form" method="POST" action="{{ (action == 'edit') ? '/kategori/update' : '/kategori/save' }}">
				<input type="hidden" id="id" name="id" value="{{kategori.id}}">
				{% if kategori.tipe %}
					<input type="hidden" id="tipe" name="tipe" value="{{kategori.tipe}}">
				{% else  %}
					<input type="hidden" id="tipe" name="tipe" value="{{tipe}}">
				{% endif  %}
				<div class="box-body">
					<div class="row">
						<div class="form-group col-md-8">
							<label for="nama">Nama
								{{label}}</label>
							<input type="text" class="form-control" id="nama" name="nama" value="{{kategori.nama}}">
						</div>
					</div>
					<div class="row">
						<div class="form-group col-md-8">
							<label for="waktu">Turnamen</label>
							<select class="js-select2 form-control" name="turnamen">
								{% for turnamen in turnamenList %}
									<option value="{{turnamen.id}}" {{turnamen.id == kategori.turnamen_id ? 'selected' : ''}}>{{turnamen.nama}}</option>
								{% endfor %}
							</select>
						</div>
					</div>
				</div>
				<!-- /.box-body -->
				<!-- /.box-body -->
				<div class="box-footer">
					<a href="/" class="btn btn-default">Kembali</a>
					<button type="submit" class="btn btn-info pull-right">Simpan</button>
				</div>
				<!-- /.box-footer -->
			</form>
		</div>
		<!-- /.box -->
	</section>
	<!-- /.content -->
{% endblock %}
