{% extends 'layout.twig' %}

{% block content %}

	<!-- Main content -->
	<section class="content container-fluid">
		{% include 'flash.twig' %}
		{% for group in kategoriGroups %}
			<div class="box">
				<div class="box-header with-border">
					<h3 class="box-title">Daftar
						{{group.label}}</h3>
					<a class="btn btn-sm pull-right bg-olive" href="/kategori/create?tipe={{group.tipe}}">
						Tambah
						{{group.label}}
					</a>
				</div>
				<!-- /.box-header -->
				<div class="box-body">
					<table class="table-kategori table table-bordered table-striped">
						<thead>
							<tr>
								<th>No
								</th>
								<th>Nama</th>
								<th>Turnamen</th>
								<th>Tanggal Dibuat</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							{% for kategori in group.kategori %}
								<tr>
									<th scope="row">{{ loop.index }}</th>
									<td>{{ kategori.nama }}</td>
									<td>{{ kategori.turnamen.nama }}</td>
									<td>{{ kategori.created_at }}</td>
									<td>
										<a href="/kategori/edit/{{kategori.id}}" class="btn btn-sm btn-default">Edit</a>
										<button data-url="/kategori/delete/{{kategori.id}}" class="btn btn-sm btn-danger js-btn-delete" data-message="Yakin ingin menghapus {{group.label}} ?">Hapus</button>
									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
				<!-- /.box-body -->
			</div>
			<!-- /.box -->
		{% endfor %}


	</section>
	<!-- /.content -->
{% endblock %}
