{% extends 'layout.twig' %}
{% block content %}
	<!-- Main content -->
	<section class="content container-fluid">
		<div class="box box-primary">
			<div class="box-header with-border">
				<h3 class="box-title">{{title}}</h3>
			</div>
			<!-- /.box-header -->
			<!-- form start -->
			<form role="form" method="POST" action="{{ (action == 'edit') ? '/turnamen/update' : '/turnamen/save' }}">
				<input type="hidden" id="id" name="id" value="{{turnamen.id}}">
				<div class="box-body">
					<div class="row">
						<div class="form-group col-md-8">
							<label for="nama">Nama</label>
							<input type="text" class="form-control" id="nama" name="nama" placeholder="Nama Turnamen" value="{{turnamen.nama}}">
						</div>
					</div>
					<div class="row">
						<div class="form-group col-md-6">
							<label for="waktu">Waktu</label>
							<input type="text" class="form-control" id="waktu" name="waktu" placeholder="Waktu Pelaksanaan" value="{{turnamen.waktu}}">
						</div>
						<div class="form-group col-md-6">
							<label for="tempat">Tempat</label>
							<input type="text" class="form-control" id="tempat" name="tempat" placeholder="Tempat Pelaksanaan" value="{{turnamen.tempat}}">
						</div>
					</div>
				</div>
				<!-- /.box-body -->
				<!-- /.box-body -->
				<div class="box-footer">
					<a href="/" class="btn btn-default">Kembali</a>
					<button type="submit" class="btn btn-info pull-right">Simpan</button>
				</div>
				<!-- /.box-footer -->
			</form>
		</div>
		<!-- /.box -->
	</section>
	<!-- /.content -->
{% endblock %}
