{% extends 'layout.twig' %}

{% block content %}
	<!-- Content Header (Page header) -->
	<section class="content-header">
		{% include 'flash.twig' %}
		<h1>
			Daftar Turnamen
			<a href="/turnamen/create" class="pull-right btn btn-default mt-3">
				<i class="fa fa-plus-circle"></i>
				Tambah Turnamen</a>
		</h1>
	</section>

	<!-- Main content -->
	<section class="content container-fluid">
		<div class="box">
			<div class="box-header"></div>
			<!-- /.box-header -->
			<div class="box-body">
				<table id="example" class="table table-bordered table-striped">
					<thead>
						<tr>
							<th>No
							</th>
							<th>Nama</th>
							<th>Waktu</th>
							<th>Tempat</th>
							<th>Aktif</th>
							<th>Tanggal Dibuat</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						{% for turnamen in turnamenList %}
							<tr>
								<th scope="row">{{ loop.index }}</th>
								<td>{{ turnamen.nama }}</td>
								<td>{{ turnamen.waktu }}</td>
								<td>{{ turnamen.tempat }}</td>
								{% if turnamen.is_active == 1 %}
									<td>Aktif</td>
								{% else %}
									<td>Tidak Aktif</td>
								{% endif %}
								<td>{{ turnamen.created_at }}</td>
								<td>
									<a href="/turnamen/edit/{{turnamen.id}}" class="btn btn-sm btn-default">Edit</a>
									<button data-url="/turnamen/delete/{{turnamen.id}}" class="btn btn-sm btn-danger js-btn-delete" data-message="Yakin ingin menghapus turnamen ?">Hapus</button>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			<!-- /.box-body -->
		</div>
		<!-- /.box -->
	</section><!-- /.content -->{% endblock %}
