{% extends 'layout.twig' %}

{% block content %}

	<!-- Main content -->
	<section class="content container-fluid">
		{% include 'flash.twig' %}
		<div class="box">
			<div class="box-header with-border">
				<h3 class="box-title">Daftar Peserta Tanding</h3>
				<a class="btn btn-sm pull-right bg-olive" href="/peserta/create?tipe=TANDING">
					Tambah Pesilat
				</a>
			</div>
			<!-- /.box-header -->
			<div class="box-body">
				<table class="table-peserta table table-bordered table-striped">
					<thead>
						<tr>
							<th>No
							</th>
							<th>Nama</th>
							<th>Kelas</th>
							<th>Kontingen</th>
							<th>Turnamen</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						{% for peserta in pesertaTanding %}
							<tr>
								<th scope="row">{{ loop.index }}</th>
								<td>{{ peserta.nama }}</td>
								<td>{{ peserta.kelas }}</td>
								<td>{{ peserta.kontingen }}</td>
								<td>{{ peserta.turnamen }}</td>
								<td>
									<a href="/peserta/edit/{{peserta.id}}" class="btn btn-sm btn-default">Edit</a>
									<button data-url="/peserta/delete/{{peserta.id}}" class="btn btn-sm btn-danger js-btn-delete" data-message="Yakin ingin menghapus peserta ?">Hapus</button>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			<!-- /.box-body -->
		</div>
		<!-- /.box -->

		<div class="box">
			<div class="box-header with-border">
				<h3 class="box-title">Daftar Peserta Seni</h3>
				<a class="btn btn-sm pull-right bg-olive" href="/peserta/create?tipe=TANDING">
					Tambah Pesilat
				</a>
			</div>
			<!-- /.box-header -->
			<div class="box-body">
				<table class="table-peserta table table-bordered table-striped">
					<thead>
						<tr>
							<th>No
							</th>
							<th>Nama</th>
							<th>Kategori</th>
							<th>Kontingen</th>
							<th>Turnamen</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						{% for peserta in pesertaSeni %}
							<tr>
								<th scope="row">{{ loop.index }}</th>
								<td>{{ peserta.nama }}</td>
								<td>{{ peserta.kategori }}</td>
								<td>{{ peserta.kontingen }}</td>
								<td>{{ peserta.turnamen }}</td>
								<td>
									<a href="/peserta/edit/{{peserta.id}}" class="btn btn-sm btn-default">Edit</a>
									<button data-url="/peserta/delete/{{peserta.id}}" class="btn btn-sm btn-danger js-btn-delete" data-message="Yakin ingin menghapus peserta ?">Hapus</button>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			<!-- /.box-body -->
		</div>
		<!-- /.box -->

		<div class="box">
			<div class="box-header with-border">
				<h3 class="box-title">Daftar Official</h3>
				<a class="btn btn-sm pull-right bg-olive" href="/peserta/create?tipe=TANDING">
					Tambah Official
				</a>
			</div>
			<!-- /.box-header -->
			<div class="box-body">
				<table class="table-peserta table table-bordered table-striped">
					<thead>
						<tr>
							<th>No
							</th>
							<th>Nama</th>
							<th>Jabatan</th>
							<th>Kontingen</th>
							<th>Turnamen</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						{% for peserta in officialList %}
							<tr>
								<th scope="row">{{ loop.index }}</th>
								<td>{{ peserta.nama }}</td>
								<td>{{ peserta.jabatan }}</td>
								<td>{{ peserta.kontingen }}</td>
								<td>{{ peserta.turnamen }}</td>
								<td>
									<a href="/peserta/edit/{{peserta.id}}" class="btn btn-sm btn-default">Edit</a>
									<button data-url="/peserta/delete/{{peserta.id}}" class="btn btn-sm btn-danger js-btn-delete" data-message="Yakin ingin menghapus peserta ?">Hapus</button>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			<!-- /.box-body -->
		</div>
		<!-- /.box -->
	</section>
	<!-- /.content -->
{% endblock %}
